:root{
    --subheadercolor: #dd3e4a;
    --headercolor: #EEEEEE;
    --subheadercolor: #8E1616;
    --contentcolor: #EEEEEE;
    --sidebarcolor: #1D1616;
    --sidebarcolor-hover: #2e2525;
    --hovercolor: rgb(223, 118, 118);
}

.container{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);

}

.header{
    position: sticky;
    top:0px;
    height: 75px;
    background-color: var(--headercolor);

    display: flex;
    flex-direction: row;
}

.header-element{
    height: inherit;
    background-color: inherit;

    height: 100%;
    width: auto;
    flex: 1;
    display: flex;
    justify-content: center; /* Wycentrowanie poziome */
    align-items: center; /* Wycentrowanie pionowe */
}

.header-element a {
    display: flex;
    align-items: center;
    height: 100%;
  }


  
.header-element img {
max-height: 100%;
width: auto;
display: block;
}



.icons{
    justify-content: space-around;
}

.icons img:hover{
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    overflow: hidden; /* Zapobiega wystawaniu elementów */
    background-color: #DBDBDB; /* Kolor tła */
}

.search-bar input {
    flex: 1;
    padding: 12px 20px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #DBDBDB; 
}

.search-button {
    padding: 0 10px 0 10px;
    height: 40px;
    width: 100px;
    background-color: var(--subheadercolor);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.search-button:hover{
    color: var(--hovercolor);
    cursor: pointer;
}


.subheader{
    position: sticky;
    top:75px;
    height: 50px;
    background-color: var(--subheadercolor);
    z-index: -1;
    display: flex;
    flex-direction: row;
}

.subheader-element{
    height: inherit;
    background-color: inherit;
    font-size: 0.6rem;
    width: auto;
    flex: 1;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.subheader-element h2{
    color: white;
}

.subheader-element h2:hover{
    color: var(--hovercolor);
    cursor: pointer;
}



.main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: calc(100vh - 125px);
}

.content{
    background-color: var(--contentcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.sidebar{
    background-color: var(--sidebarcolor);
}





.product {
    display: flex;
    align-items: stretch;
    width: 100%; /* Dostosuj w zależności od układu */
    max-width: 100%; /* Możesz dostosować */
    border: 1px solid #ccc;
    background-color: var(--sidebarcolor);
}

.product:hover{
    background-color: var(--sidebarcolor-hover);

    transition: 0.4s ;
}

.product-image {
    width: 200px;
    height: 200px;
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-data {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr; /* Poprawiona siatka */
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 200px); /* Stała szerokość */
    height: 200px; /* Dopasowanie do obrazka */
    padding: 0.5em;
    box-sizing: border-box;
}

.product-info {
    grid-column: 1 / 2;
    padding: 0.5em;
}

.product-placeholder {
    grid-column: 2 / 3;
}

.product-price {
    grid-column: 3 / 4;
    text-align: center;
}

.product-price button {
    width: 80%;
    background-color: var(--subheadercolor);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5em;
}

.product-price button:hover {
    background-color: color-mix(in oklch, var(--subheadercolor) 80%, black 20%);
}


h2 {
    margin: 0;
    padding: 0;
}

.category{
    display: inline; /*zeby napis nie rozciagal sie na cala szerokosc*/
}

.product-info h2{
    color : white;
}

.product-info h2:hover{
    color: var(--hovercolor);
    transition: 0.2s;
}

.product-name{
    width: fit-content;
}

.category:hover{
    cursor: pointer;    
}

a{
    color: inherit;
    text-decoration: none;
}

.filter-pink:hover{
    filter: invert(82%) sepia(26%) saturate(7430%) hue-rotate(310deg) brightness(92%) contrast(89%);
}


.suggestions-box {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 5px;
    margin: 0;
    width:  200px;
    height: fit-content;
    top: 57px;
    z-index: 1000;
}
.suggestions-box li {
    padding: 5px;
    cursor: pointer;
    height: inherit;
}
.suggestions-box li:hover {
    background: #f0f0f0;
}

.hidden{
    display: none;
}