:root {
  --primary-bg: var(--sidebarcolor, #1D1616);
  --primary-bg-hover: var(--sidebarcolor-hover, #2e2525);
  --accent: var(--subheadercolor, #8E1616);
  --text-light: #ffffff;
  --hover-accent: var(--hovercolor, #A72828);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
position: sticky;
top: 0px;
height: 75px;
background-color: var(--headercolor);
z-index: 10; /* Ensure header is above badge */
display: flex;
flex-direction: row;
}

.header-element {
  height: inherit;
  background-color: inherit;
  width: auto;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-element a {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-element img {
  max-height: 100%;
  width: auto;
  display: block;
}

.icons {
  justify-content: space-around;
}

.icons img:hover {
  cursor: pointer;
}

.search-bar,
.search-bar form {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #DBDBDB;
}

.search-bar input {
  flex: 1;
  padding: 12px 20px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #DBDBDB;
}

.search-button {
  padding: 0 10px;
  height: 40px;
  width: 100px;
  background-color: var(--subheadercolor);
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.search-button:hover {
  color: var(--hovercolor);
}

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: calc(100vh - 125px);
}

.content {
  background-color: var(--contentcolor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-pink:hover {
  filter: invert(82%) sepia(26%) saturate(7430%) hue-rotate(310deg) brightness(92%) contrast(89%);
}

.suggestions-box {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 5px;
  margin: 0;
  width: 200px;
  height: fit-content;
  top: 57px;
  z-index: 1000;
}

.suggestions-box li {
  padding: 5px;
  cursor: pointer;
}

.suggestions-box li:hover {
  background: #f0f0f0;
}

.hidden {
  display: none;
}
